@media screen and (max-width: 760px) {
    #grilla {
        display: grid;
        grid-template-areas: "header  header" "danzasIr danzasIr" "tiposDanzas tiposDanzas" "footer footer";
        grid-template-rows: 4% 58% 32% 6%;
        font-size: small;

    }
}

@media screen and (max-width: 760px) {
    footer {
        grid-area: footer;
        text-align: start;
        font-family: Georgia, 'Times New Roman', Times, serif;
        background-color: rgb(243, 212, 171);
        font-size: small;
    }
}

@media screen and (max-width: 760px) {
    #parrafoBonito {
        font-size: small;
        margin: 5%;

    }
}

@media screen and (max-width: 760px) {
    #parrafoBonito2 {
        font-size: medium;
        margin: 5%;
    }
}


@media screen and (max-width: 760px) {
    h1 {
        margin: 5%;
        font-size: medium;
        padding: 3%;
    }
}

@media screen and (max-width: 760px) {
    h2 {
        margin: 5%;
        font-size: medium;
        color: azure;
        padding: auto;
        width: auto;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
}

@media screen and (max-width: 760px) {
    h3 {
        margin: 5%;
        font-size: 100%;
        color: black;
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-align: start;
    }
}

@media screen and (max-width: 760px) {
    #parrafoBonito {
        font-size: small;
        margin: 5%;

    }
}

@media screen and (max-width: 760px) {
    #parrafoBonito2 {
        font-size: small;
        margin: 5%;

    }
}

@media screen and (max-width: 760px) {
    .logos {
        width: 45px;
    }
}

@media screen and (max-width: 760px) {
    #titulosFotos {
        font-size: medium;
        margin: 5%;
        padding: auto;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
}

@media screen and (max-width: 760px) {
    #bordesNavegador {
        display: flex;
        overflow: auto;
        align-content: space-between;
        margin: auto;
        padding: 6px;
        font-weight: 300;
        font-size: small;
        justify-content: left;
        justify-items: auto;
        flex-wrap: nowrap;
    }
}

@media screen and (max-width: 760px) {
    .miestilo {
        background-color: aquamarine;
        margin: 5%;

    }
}

@media screen and (max-width: 760px) {
    #fotosSanPatricio {
        margin: 2px;
        padding: 2px;
        height: 100px;
        justify-content: center;
        justify-items: auto;
    }
}